block header
    footer.footer
        .footer__container
            .footer__wrapper
                .footer__content
                    .footer__info
                        h2.footer__title Успей купить!
                        span Подпишись и успей словить все акции
                    form(id="form" action='#').footer__form._reg
                        .footer__check
                            .footer__check-input
                                input(id="email" type='email' placeholder='Email').email
                                span.error
                            button(type='submit').footer__check-btn Подписаться
                        .footer__news
                            input(type='checkbox' id='check-in').footer__news-input
                            label(for='check-in').footer__news-label Подписаться на новости




